<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

     <bean id="personDao" class="ru.otus.tasks.task1.dao.PersonDaoGet">
    </bean>

   <bean id="personService" class="ru.otus.tasks.task1.service.PersonServiceImpl">
      <constructor-arg name="dao" ref="personDao"/>
       <constructor-arg name="path" value="questions.csv"/>
   </bean>

</beans>